.footer {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 20px 0 10px 0;
   position: absolute;
   bottom: 0;
   width: 100%;
}

.footer__title {
   color: #ffffff;
   font-family: Roboto;
   font-size: 25px;
   font-weight: 500;
   margin-bottom: 10px;
}

.footer__text {
   color: #c0c0c0;
   font-family: Roboto;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   padding: 0 20px;
}

.footer__link {
   text-decoration: underline;
   color: #cdcdcd;
}

@media screen and (max-width: 600px) {
   .footer {
      position: static;
   }
   
   .footer__text {
      font-size: 13px;
   }
}